* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: linear-gradient(120deg, #0cebeb, #20e3b2, #29ffc6);
  color: #0b2545;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: aliceblue;
}

form button {
  color: aliceblue;
  background: #0b2545;
  cursor: pointer;
  transition: all 0.5s ease;
}

form button:hover {
  background: aliceblue;
  color: #0b2545;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: aliceblue;
  color: #0b2545;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #0b2545;
  color: aliceblue;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  margin-right: 0.2rem;
  background: linear-gradient(to right, #00b4db, #0083b0);
}

.trash-btn {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.todo-item {
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.Completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateX(4rem);
  opacity: 0;
  transition: 0.5s;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #0b2545;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background: #0b2545;
  color: aliceblue;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select:hover:after {
  background: aliceblue;
  color: #0b2545;
  transition: 0.5s;
}
